? my @channels = MyChaberi::Channel->channels;
<html>
<head>
<title>MyChaberi</title>
</head>
<body>
<form method="post" action="connect">

URL: <input name="url" value="http://ch0.chaberi.com/chat/blue/43"><br/>
Name: <input name="name" value="ゲスト39"><br />
ID:   <input name="id" value="2626790"><br />
Hash: <input name="hash" value="11eb725d6a4dfc5e31eb8f773e637bbf"><br />

<input type="submit" value="入室">
</form>

<ul>
? for my $chan (@channels) {
<li><a href="<?= $chan ?>"><?= $chan ?></a></li>
? }
</ul>

</body>
</html>
