? use URI::Escape;
? my $rooms = $_[0]->{rooms};
? my @channels = MyChaberi::Channel->channels;
? my $q = Encode::decode_utf8 $_[0]->{handler}->request->param( 'q' );
<html>
<head>
<title>SEARCH</title>
</head>
<body>
<form method="GET" action=".">
<input name="q" value="<?= $q ?>">
<input type="submit">
</form>

<h1>Logining...</h1>
<ul>
? for my $chan (@channels) {
<li><a href="<?= $chan ?>"><?= $chan ?></a></li>
? }
</ul>

<h1>Other Rooms...</h1>
? for my $r ( @$rooms ) {
  <a href="entrance/<?= uri_escape_utf8($r->{url}) ?>">
  <?= $r->{name} ?>
  </a><br />
  <? if( $r->{ad} ){ ?> "<?= $r->{ad} ?>"<br/> <? } ?>
  <? for my $m ( @{$r->{members}} ){ ?> <?= $m->{name} ?>　 <? } ?>
  <? if( @{$r->{members}} ){ ?> <br /> <? } ?>
? }

? # use Data::Dumper;
<?# Dumper $rooms ?>
</body>
</html>
